@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: e-UkraineHead; 
    src: url('../fonts/e-UkraineHead-Regular.otf');
} 

@font-face { 
    font-family: e-Ukraine; 
    src: url('../fonts/e-Ukraine-Regular.otf');
}

@font-face { 
    font-family: e-Ukraine-Thin; 
    src: url('../fonts/e-Ukraine-Thin.otf');
}

.font-head {
    font-family: e-UkraineHead, sans-serif;
}

.font-e {
    font-family: e-Ukraine, sans-serif;
}

html {
    font-family: e-Ukraine-Thin, sans-serif;
}

.ua-text {
    background: linear-gradient(180deg, rgba(82,113,255,1) 0%, rgba(82,113,255,1) 45%, rgba(255,215,56,1) 45%, rgba(255,215,56,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}